[submodule "thirdparty/fasttext"]
	path = thirdparty/fasttext
	url = https://github.com/facebookresearch/fastText/
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
