[submodule "thirdparty/fasttext"]
	path = thirdparty/fasttext
	url = https://github.com/facebookresearch/fastText/
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "thirdparty/onmt_tokenizer"]
	path = thirdparty/onmt_tokenizer
	url = https://github.com/IlyaGusev/Tokenizer
[submodule "thirdparty/drogon"]
	path = thirdparty/drogon
	url = https://github.com/an-tao/drogon.git
[submodule "thirdparty/rocksdb"]
	path = thirdparty/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "thirdparty/sentencepiece"]
	path = thirdparty/sentencepiece
	url = https://github.com/google/sentencepiece
