dist: bionic
sudo: required
language: cpp

addons:
  apt:
    update: true
    packages:
      - cmake
      - libboost-all-dev

compiler:
  - clang
  - gcc

env:
  - BUILD_TYPE=Debug
  - BUILD_TYPE=Release

before_script:
  - git lfs pull
  - git submodule init
  - git submodule update
  - bash download_models.sh
  - curl -L "https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/shunit2/shunit2-2.1.6.tgz" | tar zx
  - python3 -m pip install -r json2html/requirements.txt

script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
  - make
  - make test
  - cd ..
  - bash test_canonical.sh
  - python3 json2html/convert.py --documents-file test/data/canonical_input.json --tops-file canonical_top.json --templates-dir json2html/templates --output-dir output

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_GITHUB_TOKEN
  keep_history: true
  local_dir: output
  on:
    branch: master
