/* Задание на странице */
.task {
    border: 1px solid #ccc;
    width: 1200px;
    padding: 15px;
    display: inline-block;
}

.tsk-block {
    border-radius: 3px;
    margin-bottom: 10px;
}

.article-block {
    width: 520px;
    padding: 30px;
}

.obj-text {
    border: 1px solid #ccc;
    position: relative;
    background-color: #e6f7dc;
}

.tsk-block fieldset {
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 0;
}

.tsk-block legend {
    font-weight: bold;
    padding: 0 6px;
}

.field_type_checkbox {
    display: block;
}

.task__error {
    border-radius: 3px;
}

.second_scale {
    display: none;
}

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

/* Отображение задания на мобильных устройствах. */
@media screen and (max-width: 600px) {
    .task-suite {
        padding: 0;
    }

    .task {
        width: 100%;
        margin: 0;
    }

    .task-suite div:not(:last-child) {
        margin-bottom: 10px;
    }

    .hint_label,
    .field__hotkey {
        display: none;
    }

    .field_type_checkbox {
        white-space: normal;
    }

    .quote-sign {
        width: 20px;
        height: 20px;
        top: 13px;
    }

    .obj-text {
        padding: 15px 10px 15px 41px;
    }
}
