<div href="" class="list-group-item position-relative overflow-hidden">
    <h5 class="mb-1">{{article.title}}</h5>
    <p class="mb-1 text-truncate-4">{{article.text}}</p>
    <small class="text-muted text-muted">{{article.date}}
        <small class="mx-1 align-text-top">&bull;</small>
        {{article.site_name}}
        <small class="mx-1 align-text-top">&bull;</small>
        <a href="{{article.url}}" target="_blank" class="text-muted stretched-link">{{article.url}}</a>
        <br>
        Rating: {{article.weight}}
    </small>
</div>

